@CHARSET "UTF-8";

* {
	font-family: Verdana,Arial,sans-serif;	
}

#wrapper {
	width: 1000px;
	margin: auto;
}

header {
	text-align: center;	
}

table, td, th {
	border: 1px solid black;	
}

td, th {
	padding: 2px;	
}

#charts {
	width: 350px; 
	float: left;
}	

.chart {
	width: 350px;
	height: 250px;	
	/*float: left;*/
}

#totals {
	/*width: 395px;
	float: left;
	font-size: .8em;*/
}

#spending {
	width: 640px;
	float: right;
	font-size: .8em;
}

#tabs {
	font-size: .95em;		
}

.clear {
	clear: both;	
}

footer {
	clear: both;
	text-align: center;
}