@CHARSET "UTF-8";

#wrapper {
	/*width: 1000px;
	margin: auto;*/
}

table, td, th {
	border: 1px solid black;	
}

td, th {
	padding: 2px;	
}

.chart {
	width: 390px;
	height: 260px;	
	border: 1px solid black;
}

#totals {

}

.clear {
	clear: both;	
}