@CHARSET "UTF-8";

* {
	font-family: Verdana,Arial,sans-serif;	
}

#wrapper {
	width: 1000px;
	margin: auto;
}

header {
	text-align: center;	
}

table, td, th {
	border: 1px solid black;	
}

td, th {
	padding: 2px;	
}

#charts {
	width: 750px; 
	margin: auto;	
}	

.chart {
	width: 375px;
	height: 300px;	
	float: left;
}

#totals {
	width: 395px;
	float: left;
	font-size: .85em;
}

#spending {
	width: 595px;
	float: right;
	font-size: .85em;
}

#tabs {
	font-size: .95em;		
}

.clear {
	clear: both;	
}

footer {
	clear: both;
	padding: 1px;
	text-align: center;
}